body{    font-family: system-ui;
    margin: auto;
}
aside{
    display: inline-block;
    background-color: #33B9B2;
    height: 100vh;
    padding-right: 3%;
    text-align: center;

     ul{
         list-style: none;
         li{
             margin-top: 20%;
             margin-bottom: 20;
             a{
                 text-decoration: none;
                 color: white;
                 font-size: 30px;
                 position: relative;
             }
                  
            }
     }
     hr{
        border: none;
        background-color: white;
        height: 1px;
        width: 152%;
        margin-left: -40px;
    
     } 
}